# Database connection config, see dbconfig module and Gino docs for more.
DB_HOST=localhost
DB_PASSWORD=arkipwd
DB_USER=arkiuser
DB_DATABASE=arki
DB_PORT=5432
DB_SSL=disable
# or just specify the DSN
# DB_DSN=
